In [1]:
from bbw import bbw
import pandas as pd

In [2]:
data = [
    ['col0', 'col1', 'col2', 'col3'],
    ['Mannheim','Rhine', '97', 'Baden-Württemberg'],
    ['Edingburgh','River Forth', '47', 'City of Edingburgh']
]
df = pd.DataFrame(data)
df

            0            1     2                   3
0        col0         col1  col2                col3
1    Mannheim        Rhine    97   Baden-Württemberg
2  Edingburgh  River Forth    47  City of Edingburgh

In [3]:
[web_table, url_table, label_table, cpa, cea, cta] = bbw.annotate(df, "output.csv")

In [4]:
cpa

     file  column0  column                                   property
0  output        0       1   http://www.wikidata.org/prop/direct/P206
1  output        0       2  http://www.wikidata.org/prop/direct/P2044
2  output        0       3   http://www.wikidata.org/prop/direct/P131

In [5]:
cta

     file  column                                 itemType
0  output       0      http://www.wikidata.org/entity/Q515
1  output       1     http://www.wikidata.org/entity/Q4022
2  output       3  http://www.wikidata.org/entity/Q1799794

In [6]:
cea

     file  row  column                                     item
0  output    1       0     http://www.wikidata.org/entity/Q2119
1  output    1       1      http://www.wikidata.org/entity/Q584
2  output    1       3      http://www.wikidata.org/entity/Q985
3  output    2       0    http://www.wikidata.org/entity/Q23436
4  output    2       1     http://www.wikidata.org/entity/Q2421
5  output    2       3  http://www.wikidata.org/entity/Q2379199

In [7]:
label_table

,col0,col1,col2,col3
1,Mannheim,Rhine,,Baden-Württemberg
2,Edinburgh,River Forth,,City of Edinburgh
property,,located in or next to body of water,elevation above sea level,located in the administrative territorial entity
type,city,river,,administrative territorial entity of a specifi...

In [8]:
# Use searx to get the bestname for a string with mistakes
bbw.get_searx_bestname('Monnhem')
bbw.get_searx_bestname('dingbur')

error searx IR

## GUI
We can starte the streamlit python app within this jupyter notebook. If you do this locally then it should be possible to navigabte with your browser to that page. Hower, if you run this juptyter notebook within binder, then accessing it from external seems not to work.

In [ ]:
!streamlit run bbw_gui.py

  You can now view your Streamlit app in your browser.

  Network URL: http://10.2.1.202:8501
  External URL: http://51.68.114.184:8501